# PlatformIO build and cache
.pio/
.ccls-cache/
.clangd/
.cache

# VSCode project files
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Python virtualenvs or temp files
venv/
__pycache__/
*.pyc

# Local secrets (if any)
# secrets.h
# wifi_credentials.h
